@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::after, 
*::before {
 padding: 0;
 margin: 0;
 box-sizing: border-box;

 /* border: 1px solid black; */
}

body {
    background-color: #B983FF;
}

.container {
    width: 900px;
    height: 100vh;
    margin: auto;
    font-family: 'Roboto';

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 85%;

}

header {
    background-color: #99FEFF;
    grid-column: 1 / 2;
    grid-row: 1 / 2;    
    z-index: 1;
    box-shadow: 0 4px 5px -5px rgb(0, 0, 0);

    display: grid;
    justify-items: center;
    align-items: center;
}

main {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #94B3FD;
    padding-top: 5%;
}

.bookContainer {    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    gap: 25px;
    padding-left: 80px;
    padding-right: 80px;
}

.bookCard {
    height: 180px;
    border-radius: 20px;
    background-color: aqua;
    padding: 3% 0 3% 3%;    
}

.bookInfo {
    height: 130px;    
    overflow: clip;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);
    justify-items: start;
    align-items: center;
}

.bookCard .rowType {
    justify-self: end;
    align-self: center;
    padding-right: 5%;
}

dialog {
    position: fixed;
    margin: auto;
    width: 300px;
    height: 300px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#newBookButt {
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(182, 151, 253);
    border: none;
    
}

#newBookButt:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px;
}

.changeRead, .deleteBook {
    padding: 5px;
    width: 110px;
    border: none;
    border-radius: 8px;
    background-color: rgb(182, 151, 253);
}

.changeRead:hover, .deleteBook:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px;
}